/.git
/.idea
/.vscode
/.DS_Store
/.env*
/.gitattributes
/.gitignore
/.mailmap
/*.yml
/*.md
/Dockerfile
/INSTALL

/bedita-app/config/core.php
/bedita-app/config/bedita.cfg.php
/bedita-app/config/database.php
/bedita-app/tmp/cache/*/*
/bedita-app/tmp/logs/*
/bedita-app/tmp/sessions/*
/bedita-app/tmp/smarty/*/*
/bedita-app/tmp/tests/*
/bedita-app/webroot/files/*
